@model PrototypProjekta.Models.SneakerModel

<h1>Dodawanie nowych butów</h1>

<!--
    Tag Helper (np.: asp-for= , asp-validation-for=, asp-...=, itd. ):

   1 Generuje nam kod HTML.
   2 Łącznik mędzy kodem: Kontrolerem, Modelem i kodem Widoków.
-->

<form asp-controller="Sneaker" asp-action="Add" method="post">


    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>


    <!-- Formularz -->
    <label asp-for="CompanyName">Marka: </label> <!-- label - tworzenie formularza  -->
        <div>
            <span asp-validation-for="CompanyName" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="CompanyName" type="text" class="form-control" />  <!-- input - wpisywanie w formularz  -->



    <label asp-for="ModelName">Model: </label>
        <div>
            <span asp-validation-for="ModelName" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="ModelName" type="text" class="form-control" />




    <label asp-for="Price">Cena: </label>
        <div>
            <span asp-validation-for="Price" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="Price" type="number" class="form-control" />
        


    <button type="submit" class="btn btn-success"> Dodaj </button>
</form>