@model List<PrototypProjekta.Models.SneakerModel>

<p class="text-center">
    <a asp-controller="Sneaker" asp-action="Add" class="btn btn-primary btn-lg">Dodaj</a>
</p>
<table class="table">
    @foreach (var eS in Model)
    {
        <tr>
            <td>@eS.CompanyName</td>
            <td>@eS.ModelName</td>
            <!-- <td>  <div class="border border-success text-success" style="text-align:center;border-radius: 10px; margin: 5px;"> element. </div>  </td> -->
            <td>@eS.Price</td>
        </tr>
    }
</table>